body > header {
    background-color: #333333;
}

body > footer {
    background-color: #333333;
    text-align: center;
    color: #2bff1c;
    padding: 20px;
}

#siteheader ul li {
    display: inline-block;
}

#siteheader nav {
    display: inline-block;
}

#siteheader img {
    width: 100px;
    height: 50px;
    display: inline-block;
}

main > aside {
    float: right;
    background-color: antiquewhite;
    padding: 10px;
}

main nav > a {
    display: block;
}